$main-theme: #000

.main
  background: #fff
  width: 100vw
  height: 100vh
  .header
    padding: 20px 0
    border-bottom: 1px solid #e0e0e0
    font-weight: bold
    color: #36464e
    ul.nav
      padding: 0
      list-style: none
      font-size: 13px
      font-weight: 500
      float: right
      margin: 0
      li
        float: left
        width: 100px
        text-align: center
      li.selected
        font-weight: bold
        color: #3F51B5
  .page-header
    padding: 50px 0
    background: #3F51B5
    color: #fff
    font-size: 31px
    b
      font-weight: 300
  .page
     .container
      padding: 50px 0
      .form
        padding: 50px 28px
        background: #fff
        float: left
        box-shadow: 0px 5px 14px rgba(0, 0, 0, 0.22)
        border-radius: 8px
        width: 30%
        label
          display: block
          font-size: 12px
          padding-bottom: 6px
          color: #3d4f58
          font-weight: bold
        input[type="text"]
          width: 93%
          padding: 12px
          margin-bottom: 20px
          border: 1px solid #cecece
          font-size: 16px
        button
          margin-top: 30px
          width: 100%
          padding: 16px
          font-size: 17px
          text-transform: uppercase
          border: none
          background: #20274c
          color: #CDDC39
          font-weight: bold
          font-family: 'Montserrat', sans-serif
      .list-table
        float: right
        width: 60%
        overflow: scroll
        max-height: 70vh
        .item
          float: left
          width: 95%
          padding: 14px
          font-size: 15px
          overflow: auto
          border-bottom: 1px solid #efefef
          b
            padding: 2px 5px
            font-size: 9px
            font-weight: 300
            background: #8BC34A
            color: #fff
            border-radius: 3px
          span.name
            display: block
            font-weight: bold
            color: #3f51b5
          span.adress
            font-size: 13px !important
            color: #525252
          span.delete
            float: right
            padding: 5px 11px
            font-size: 10px
            background: #e21000
            color: #fff
            font-weight: bold
        .item:hover
          background: #f1f1f1
      .form.scheduler
        width: 50%
        float: left
        .results
          width: 93% !important
          background: #e8e8e8
          padding: 19px
          margin-bottom: 30px
        .date-picker
          width: 93%
          padding: 10px
          font-size: 15px
        .time-picker
          margin-left: 10px
          font-size: 15px
          height: 45px
          width: 93%
          margin-bottom: 25px
        .classes
          height: 38px
          width: 93%
          margin-bottom: 25px
      .results
        float: right
        width: 40%
        i
          display: block
          font-size: 13px
          color: #3f51b5
          padding: 20px 0
        span.school
          display: block
          font-size: 20px
          font-weight: bold
        .item
          padding: 20px
          span
            display: block
            font-size: 14px
            font-weight: bold
            label
              font-weight: 300
          span.teacher
            font-size: 20px
            font-weight: bold
          span.origin
            font-style: italic
            font-weight: 300
.school
  overflow: auto
  padding: 10px
  border-bottom: 1px solid #e0e0e0
  font-size: 12px
  color: #404040
  span
    display: block
    float: left
    width: 33.33%
  span.class
    font-weight: bold
  span.date
    text-align: right

.group
  margin-bottom: 10px
  float: left
  width: 100%

.schedule
  overflow: auto
  float: left
  padding: 10px
  .teacher
    font-size: 16px
    font-weight: bold
  li
    margin-bottom: 12px
    span
      display: block
      font-size: 13px
    span.subject
      font-weight: bold
      i
        font-size: 11px !important
        font-weight: 300
        padding: 0 !important
    span.school-address
      font-style: italic
      color: #6d6d6d
    span.logistic
      font-size: 12px !important
      color: green
      padding: 5px 10px
      background: honeydew
      margin-top: 9px
      border-left: 2px solid green

.class
  overflow: auto
