<section class="main container">
  <div class="header">
    <div class="container">
      Advance Substitute Teacher Scheduler App
      <ul class="nav">
        <li class="item" (click)="currentPage = 'home'" [class.selected]="currentPage == 'home'">Home</li>
        <li class="item" (click)="currentPage = 'teachers'" [class.selected]="currentPage == 'teachers'">Teachers</li>
        <li class="item" (click)="currentPage = 'schools'" [class.selected]="currentPage == 'schools'">Schools</li>
      </ul>
    </div>
  </div>
  <div class="page-header">
    <div class="container">
      <b *ngIf="currentPage == 'home'">Substitute Teacher Scheduler</b>
      <b *ngIf="currentPage == 'teachers'">Teachers</b>
      <b *ngIf="currentPage == 'schools'">Schools</b>
    </div>
  </div>
  <div class="page">
    <div class="container">
        <div class="home" *ngIf="currentPage == 'home'">
          <div class="form scheduler">
            <div class="results">
              <h2>Find a Substitute Teachers for the following classes: </h2>
              <div class="school" *ngFor="let class of config">
                <span class="class">{{class.class}}</span>
                <span>{{class.school}}</span>
                <span class="date">{{class.date | date}}</span>
              </div>

            </div>
            <div class="group" >
              <label>Please select Date</label>
              <input type="date" [(ngModel)]="schedule.date" class="date-picker" (change)="updateSelectedClasses()">
            </div>

            <div class="group" *ngIf="schedule.date != ''">
              <label>Please select school</label>
              <select class="classes" [(ngModel)]="schedule.school">
                  <option *ngFor="let school of schools; let i = index" value="{{i}}">{{school.payload.doc.data().name}}</option>
                </select>
            </div>


            <div class="group"  *ngIf="schedule.school != ''">
              <label>Please select a class with no Regular Teacher:</label>
              <ng-multiselect-dropdown *ngIf="regularTeachers?.length > 0" [placeholder]="'custom placeholder'"  [data]="classes[schedule.school]" [(ngModel)]="selectedItems" [settings]="dropdownSettings" (onSelect)="onItemSelect($event)"></ng-multiselect-dropdown>

            </div>

            <button type="button" name="button" (click)="getLogistics()">CALCULATE BEST MATCHED SUBS</button>

          </div>

          <div class="results">


            <h2>Substitute Teacher Schedules: </h2>
            <div class="class" *ngFor="let schedule of schedules">
              <div class="schedule">
                <span class="teacher">{{schedule.name}}</span>
                <ul>
                  <li *ngFor="let class of schedule.classes">
                    <span class="subject">{{class.config.class}} | <i>{{class.config.arrival | date}}</i></span>
                    <span class="school-name">{{class.config.school}}</span>
                    <span class="school-address">{{class.config.address}}</span>
                    <span class="logistic">{{class.logistics.duration.text}} Estimated Travel Time from origin</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="teachers" *ngIf="currentPage == 'teachers'">
          <div class="form">
            <div class="group">
              <label>Full Name</label>
              <input type="text" [(ngModel)]="teacher.name">
            </div>
            <div class="group">
              <label>Status</label>
              <input type="radio" [(ngModel)]="teacher.status" value="Regular"> Regular
              <input type="radio" [(ngModel)]="teacher.status" value="Substitute"> Substitute
            </div>
            <div class="group">
              <label>Address</label>
              <input type="text" [(ngModel)]="teacher.address">
            </div>
            <div class="group">
              <label>City</label>
              <input type="text" [(ngModel)]="teacher.city">
            </div>
            <div class="group">
              <label>State</label>
              <input type="text" [(ngModel)]="teacher.state">
            </div>
            <div class="group">
              <label>Zip</label>
              <input type="text" [(ngModel)]="teacher.zip">
            </div>
            <button type="button" name="button" (click)="onSubmit('teachers')">Add Teacher</button>
          </div>
          <div class="list-table">
            <div class="item" *ngFor="let teacher of teachers">
              <span class="name">{{teacher.payload.doc.data().name}} <b>{{teacher.payload.doc.data().status}}</b></span>
              <span class="adress">{{teacher.payload.doc.data().address}}, {{teacher.payload.doc.data().city}}, {{teacher.payload.doc.data().state}}, {{teacher.payload.doc.data().zip}}</span>
              <span class="delete" (click)="delete(teacher.payload.doc.id, 'teachers')">Delete</span>
            </div>
          </div>
        </div>
        <div class="schools" *ngIf="currentPage == 'schools'">
          <div class="form">
            <div class="group">
              <label>School Name</label>
              <input type="text" [(ngModel)]="school.name">
            </div>
            <div class="group">
              <label>Address</label>
              <input type="text" [(ngModel)]="school.address">
            </div>
            <div class="group">
              <label>City</label>
              <input type="text" [(ngModel)]="school.city">
            </div>
            <div class="group">
              <label>State</label>
              <input type="text" [(ngModel)]="school.state">
            </div>
            <div class="group">
              <label>Zip</label>
              <input type="text" [(ngModel)]="school.zip">
            </div>
            <button type="button" name="button" (click)="onSubmit('schools')">Add School</button>
          </div>
          <div class="list-table">
            <div class="item" *ngFor="let school of schools">
              <span class="name">{{school.payload.doc.data().name}}</span>
              <span class="adress">{{school.payload.doc.data().address}}, {{school.payload.doc.data().city}}, {{school.payload.doc.data().state}}, {{school.payload.doc.data().zip}}</span>
              <span class="delete" (click)="delete(school.payload.doc.id, 'schools')">Delete</span>
            </div>
          </div>
        </div>
    </div>
  </div>
</section>
