/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700&display=swap')


body, html
  padding: 0
  margin: 0
  font-family: 'Montserrat', sans-serif

.container
  margin: 0 auto
  width: 1080px

.swal2-icon.swal2-error.swal2-animate-error-icon
  display: none !important


.multiselect-dropdown
  width: 93% !important
  float: left
  margin-right: 7%

h2
  font-size: 15px
  color: #3f51b5
